.HeaderTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 8px 0;

    .logo {
        width: 80px;
        height: 40px;
        background: url("https://shark2.douyucdn.cn/front-publish/m-douyu-v3-master/assets/images/logo_864f3ef.png") no-repeat;
        background-size: 100% 100%;
    }

    .search {
        flex: 1;
        height: 28px;
        margin-left: 10px;
        background-color: #f2f2f2;
        border-radius: 20px;
        display: flex;
        align-items: center;
        color: #bbb;

        i {
            margin-left: 10px;
        }

        span {
            margin-left: 5px;
            font-size: 15px;
        }
    }

    .dowmloadApp {
        margin-left: 10px;

        a {
            border-radius: 20px;
            color: white;
            background-color: #ff5d23;
        }
    }
}

.bannerWrap {
    margin-top: 10px;
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 40%;
    overflow: hidden;

    .banner-content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

.HeaderTabsWrapper {
    .am-tabs-default-bar-tab {
        font-size: 12px;

    }

}

// 推荐页面 直播分类列表样式
.categoryWrap {

    width: calc((70px * 24) / 2);
    height: 200px;
    display: flex;
    flex-wrap: wrap;

    >div {
        display: flex;
        flex-direction: column;
        width: 60px;
        overflow: hidden;
        white-space: nowrap;
        margin-top: 10px;
        margin-left: 10px;

        img {
            width: 55px;
            height: 55px;
            border-radius: 5px;
        }

        span {
            margin-top: 13px;
            color: #949494;
            font-size: 14px;
            text-align: center;
            text-overflow: ellipsis;
        }
    }
}

//  直播间列表样式
.LiveRoomList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding: 12px;
    padding-top: 0;
    background-color: #f4f4f4;
        margin-bottom: 20px;

    >.liveRoomItem {
        position: relative;
        width: 170px;
        margin-top: 12px;
        border-radius: 10px;
        overflow: hidden;
        >img {
            width: 100%;
            height: 115px;
        }

        >.roomName {
            padding: 6px 6px 10px;

            p {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-size: 13px;
            }

            >.tag {
                color: #eb9a57;
                font-size: 14px;
            }

            background-color: white;
        }

        .onlineCount {
            position: absolute;
            top: 0;
            right: 0;
            color: white;
            font-size: 10px;
            background: linear-gradient(0deg, rgba(0, 0, 0, .85), transparent);

        }

        .nickName {
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 38px;
            left: 0;
            font-size: 10px;
            color: white;
            background: linear-gradient(0deg, rgba(0, 0, 0, .85), transparent);

            i {
                display: block;
                width: 11px;
                height: 12px;
                margin-right: 3px;
                background: url(https://shark2.douyucdn.cn/front-publish/m-douyu-v3-master/assets/images/iconfont-wo_fdcada2.png) no-repeat;
                -webkit-background-size: 100% 100%;
                -moz-background-size: 100% 100%;
                background-size: 100% 100%;
            }
        }
    }
}

.LiveRoomListPage {

    // 头部 导航栏 样式
    >.am-navbar-dark {
        position: sticky;
        top: 0;
        z-index: 999;
        background: linear-gradient(to right, #fb790b, #f34419)
    }

    .Toback {
        display: flex;
        align-items: center;
    }
}

.message {
    text-align: center;
    color: #838383;
    font-size: 16px;
    line-height: 300px;
}